*{
    margin: 0;
    padding: 0;
    background: #bb36d5e1;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(#aa30c3e1, #a9b854, #aa30c3e1);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient( #9fad4d, #aa30c3e1, #a5b452);
}

h1 {
    text-align: center;
    color: #1c171de1;
    font-size: 30px;
    border-radius: 13px;
}

#app {
    text-align: center;
    border-radius: 13px;
}

input[type="text"] {
    padding: 8px;
    font-size: 1em;
    border-radius: 10px;
    background-color: #c58cca;
}

button {
    padding: 8px;
    margin-bottom: 5px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 7px;
    background: linear-gradient(#cb87c5, #7ce2fc);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 8px 0;
    padding: 8px;
    background-color: #a0aa6c;
    border: 1px solid #aba8a8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}